body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header>button>a{
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  color: azure;
}

header>button{
  background-color: #455169;
  border-radius: 5px;
}

body>div>p>a{
  color: white;
  text-decoration: none;
}

.div1{
  margin-top: 60px;
}

#content{
  font-family: 'Courier New', Courier, monospace;
  margin: 20px;
  font-size: 40px;
  padding: 10px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  border: 2px solid cyan;
  border-radius: 20px;
  background-color: darkcyan;
}

/*--------------- Card Layout -------------*/

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  border: 2px solid skyblue;
  background-color: white;
}

#card1{
  border: 1px solid #455169;
  border-radius: 20px;
  border-width: 10px;
  font-size: 100px;
  padding: 30px 60px; 
  margin: 30px;
  background-color: lightgray;
  color: #061d49;
}

/*---------------- NavBar ---------------*/

div>nav{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 60px;
  border: 7px solid skyblue;
  padding: 10px;
  border-radius: 20px;
  color: #455169;
  background-color: white;
  align-content: center; 
}

div>nav>span{
 padding: 10px 20px 10px 20px;
}

/*--------- SideBar -----------*/

div>p>span{
  /* display: flex;  */
  /* flex-wrap: wrap; */ 
  font-size: 70px;
  border: 7px solid skyblue;
  border-radius: 20px;
  color: #455169;
  background-color: white;
}

 #sidebr{
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-content: space-between;
  flex-wrap: wrap;
} 

.sp1{
  /* display: flex;
  justify-content: center; */
  padding: 80px 100px 100px 100px ;
  margin-top: 300px;
  margin-left: 150px;
}

.sp2{
  /* display: flex;
  justify-content: center; */
  padding: 80px 100px 100px 100px;
  margin-top: 100px;
  margin-left: 50px;
} 

/*------------ HolyGrail ---------*/

